
<div class="fullpagediv">
   <p class="subtitle">THE PROJECTS OF</p>
   <h1 class="centeredtext">JACK SAENZ</h1>
   <p class="footer">- Scroll -</p>
</div>

<style>
.subtitle {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: min(8vw, 3rem);
   margin: 0;
   padding-left: 2rem;
   padding-top: 2rem;
}

.centeredtext {
   position: absolute;
   font-family: 'Astloch', serif;
   text-align: center;
   font-weight: 400;
   font-size: 4rem;
   transform: translate(-50%, -50%);
   margin-top: -1rem;
   z-index: 2;
   top: 50%;
   left: 50%;
}

.footer {
   position: absolute;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   margin: 0;
   color: hsl(0, 0%, 50%);
   top: 90%;
   display: inline-block;
   width: 100%;
}

.fullpagediv {
   width: 100vw;
   height: 100vh;
} 
</style>
