<nav>
   <h1 class="title">
      THE PROJECTS OF
   </h1>
   <a href="/" class="link">
      Jack Saenz
   </a>
</nav>

<style>
nav {
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   flex-basis: 20em;
   margin: 0;
   margin-top: .5rem;
   margin-right: 1rem;
}

a {
   color: hsl(0, 0% 100%);
   text-decoration: none;
}

.title {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   margin-top: 0;
   margin-left: .5rem;
   font-size: 2rem;
}

.link {
   font-family: 'Astloch', serif;
   color: hsl(0, 0%, 0%);
   font-weight: 400;
   font-size: 2rem;
}

@media only screen and (max-width: 500px) {
   .title {
      font-size: 1.5rem;
   }

   .link {
      font-size: 1.5rem;
   }

}
</style>
